body {
    background-color: #fcf6fb;
}

section {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 15px;
    padding: 10px;
    background-color: #ccf1cb;
    border-radius: 8px;
    font-size: 25px;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    color: rgb(28, 44, 114);
}

img {
    width: 10%;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

h2 {
    margin: 30px;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: left;
    text-indent: 70px;
    color: rgb(28, 44, 114);
}

button {
    display: flexbox;
    align-items: center;
    margin-left: 100px;
    margin-top: 20px;
    justify-content: center;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 20px;
    background-color: #9891fd;
    color: white;
    border-radius: 5px;
    padding: 10px;
    width: 140px;
    border: none;
}


/*
    justify-content: space-evenly;
    align-items: center;
*/

button:hover {
    background-color: rgb(248, 202, 103);
    cursor: pointer;
}

table {
    margin: 10px;
    padding: 10px;
    font-family: 'Open Sans', sans-serif;
}

table tr:first-child td {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: rgb(56, 155, 56);
    padding: 10px;
}


/* ajuste tamanho colunas */

td:nth-child(1) {
    width: 30%;
}

td:nth-child(2) {
    width: 200px;
}

td:nth-child(3) {
    width: 200px;
}

td:nth-child(4) {
    width: 200px;
}

td:nth-child(5) {
    width: 200px;
}

th {
    height: 30px;
    margin: auto;
}

td {
    text-align: center;
}

tr:hover {
    background-color: white;
}

#notasTurma1,
#notasTurma2 {
    margin: 20px 30px;
    color: black;
    background-color: #d0eae5;
    border: 1px solid rgb(36, 94, 89);
    border-radius: 5px;
    display: none;
}